:root {
    --darkPink: rgb(208, 45, 208);
    --vidaWhite: rgb(250, 250, 250);
    --vidaBackground: rgb(8, 7, 5);
    --vidaPink: rgb(255, 0, 115);
    --vidaOrange: rgb(246, 165, 121);
    --vidaBlue: rgb(14, 202, 242);
    --vidaGray: rgb(108, 117, 125);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding in element dimensions */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fc;
    display: flex;
    flex-direction: column;
}



button:hover {
    opacity: 0.9;
}

.container {
    width: 100%; /* Full width */
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Ensures container takes all available space */
}

@media (max-width: 768px) {
    header button {
        font-size: 12px;
        padding: 8px 16px;
        height: 36px;
    }

    header .profile img {
        height: 36px;
        width: 36px;
    }

    main {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    main .circular-charts {
        gap: 20px;
    }
}

/* src/styles/event-form.css */

/* Existing styles... */

/* QR Code Section Styles */
.qr-section {
    text-align: center;
    margin-top: 30px;
  }
  
  /* Poster Container Styles */
  .poster-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }
  
  .poster-background {
    width: 600px; /* Adjust based on your poster image size */
    height: auto;
    display: block;
  }
  
  body {
    background-image: url('../images/pod-web-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Other styles */
  }
  
  .poster-event-image {
    width: 200px; /* Adjust as needed */
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 50px; /* Adjust positioning as needed */
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #000;
    border-radius: 10px;
  }
  
  .poster-details {
    position: absolute;
    top: 300px; /* Adjust based on your poster design */
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Adjust as needed */
    text-align: left;
  }
  
  .poster-details h3 {
    margin-bottom: 10px;
  }
  
  .poster-details p {
    margin: 5px 0;
  }
  
  .qr-code-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
  }
  
  .event-text{
    padding-top: 100px;
  }
  
  /* Download Poster Button Styles */
  .download-poster-btn {
    background-color: var(--vidaPurple);
    color: var(--vidaWhite);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .download-poster-btn:hover {
    background-color: #0ea6c2;
  }

  .back-to-dashboard-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--vidaPink);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .back-to-dashboard-btn:hover {
    background-color: #45a049;
  }
  
  
